<h2>Current Readings</h2>

	
	<table>
		<thead>
			<th>Sensor Channel</th>
			<th>Reading</th>
		</thead>
		<% @samples.each do |s| %>
			<tbody>
				<td><%= s.sensor_id %></td>
				<td><%= number_to_percentage(s.value * 100, :precision => 0) if s.value %></td>
			</tbody>
		<% end %>
	</table>
	
