<h2>Current Readings</h2>

	
	<table class="table table-striped table-bordered table-condensed">
		<thead>
			<th style="width: 10em">Sensor Channel</th>
			<th style="width: 10em">Reading</th>
			<th style="width: 15em">Timestamp</th>
			<th></th>
		</thead>
		<% @samples.each do |s| %>
			<tbody>
				<% if s.sensor_id %>
					<td><%= s.sensor_id %></td>
					<td><%= number_to_percentage(s.value * 100, :precision => 0) if s.value %></td>
					<td><%= s.created_at.localtime %></td>
					<td></td>
				<% end %>
			</tbody>
		<% end %>
	</table>
	
